<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CINEPY</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 class="titulo-principal">CINEPY</h1>
    <p class="nome">Olá, {{nome_usuario}}</p>
    <div class="pesquisar">   
        <form action="/buscar" method="POST">
            <input name="filme" placeholder="Digite o nome do filme"></input>
            <button type="submit">Pesquisar</button>
        </form>
    </div>
    <nav class="filtros">
        <a href="/genero/27">Terror</a>
        <a href="/genero/35">Comédia</a>
        <a href="/genero/28">Ação</a>
        <a href="/genero/16">Animação</a>
        <a href="/">Todos (Populares)</a>
    </nav>
    {% if erro %}
        <p style="color: #ffbd00; font-weight: bold; margin-top: 20px">
            {{ erro }}
        </p>
        <a href="/" style="color: bisque; text-decoration: none;">Voltar para populares</a>
    {% endif %}
    <div class="container-filmes">
        {% for filme in filmes_favoritos %}
            <div class="card-filme">
                <img src="https://image.tmdb.org/t/p/w500{{ filme.poster }}" alt="{{ filme.titulo }}">
                <h3>{{ filme.titulo }}</h3>
                <a href="/filme/{{ filme.id_filme }}">
                    <button>Ver Detalhes</button>
                </a>
                <a href="{{ url_for('deletar', id_filme=filme.id_filme) }}" style="color: #ff4d4d; text-decoration: none; font-size: 0.8em; margin-top: 10px; display: block;">
                    🗑️ Remover dos Favoritos
                </a>
            </div>
        {% endfor %}
    </div>
</body>
</html>